/***  ---fonts---  ***/
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

/**** Variable ****/
:root {
  --grey-200: #e2e8f0;
  --grey-50: #f8fafc;

  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-secondary: hsla(182, 63%, 54%);
  --clr-black: #222;
  --crl-bck: #618264;
  --crl-bck1: #79ac78;
  --crl-bck2: #b0d981;
  --crl-bck3: #d0e7d2;
  --crl-bck4: #edfdf2;
  --crl-bck5: #a2c579;
  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Open Sans", sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
  --font: #102a42;
  --small-text: 0.875rem;
}

/*** Global Style ***/
html {
  scroll-behavior: smooth;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--ff-secondary);
  background: var(--crl-bck4);
  color: var(--font);
  line-height: 1.5;
  font-size: 0.875rem;
}

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}

img {
  display: block;
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  font-family: var(--ff-primary);
}

.btn {
  text-transform: uppercase;
  background: transparent;
  color: var(--clr-black);
  padding: 0.375rem 0.75rem;
  letter-spacing: var(--spacing);
  display: inline-block;
  transition: var(--transition);
  font-size: 0.875rem;
  border: 2px solid var(--clr-black);
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: var(--radius);
}
.btn:hover {
  color: var(--clr-white);
  background: var(--clr-black);
}
.btn-white {
  color: var(--crl-bck2);
  border-color: var(--crl-bck2);
  /* background: var(--crl-bck2); */
  border-radius: 0;
  padding: 0.5rem 1rem;
}
.btn:hover {
  background: var(--clr-white);
  color: var(--crl-bck2);
}
/* section */
.section {
  padding-bottom: 2rem;
}

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}
@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
}
main {
  min-height: 100vh;
  display: grid;
  place-items: center;
}

nav {
  background: var(--clr-white);
  padding: 1rem 1.5rem;
  z-index: 4;
}

.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-toggle {
  font-size: 1.8rem;
  color: var(--crl-bck5);
  background: transparent;
  border-color: transparent;
  transition: var(--transition);
  cursor: pointer;
}

.nav-toggle:hover {
  color: var(--crl-bck);
}

.links-container {
  height: 0;
  overflow: hidden;
  transition: var(--transition);
}

.show-links {
  height: 200px;
}

.links a {
  background-color: var(--clr-white);
  color: var(--crl-bck);
  font-size: clamp(1rem 5vw 1.5rem);
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  display: block;
  transition: var(--transition);
  font-weight: bold;
  padding: 0.6rem 0;
}

.links a:hover {
  color: var(--crl-bck2);
}

/* fixed nav */
.fixed-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--clr-white);
  box-shadow: var(--light-shadow);
}
.fixed-nav .links a {
  color: var(--crl-bck5);
  /* font-size: clamp(1rem 5vw 1.5rem); */
  font-size: 1rem;

  /* font: 900; */
}
.fixed-nav .links a:hover {
  /* color: var(--clr-secondary); */
}

@media screen and (min-width: 820px) {
  nav {
    background-color: unset;
  }

  .nav-center {
    width: 90vw;
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .nav-header {
    padding: 0;
  }

  .nav-toggle {
    display: none;
  }

  .links-container {
    height: auto !important;
  }

  .links {
    display: flex;
  }

  .links a {
    background: transparent;
    color: var(--clr-white);
    font-size: 1rem;
    text-transform: capitalize;
    letter-spacing: var(--spacing);
    display: block;
    transition: var(--transition);
    margin: 0 0.7rem;
    font-weight: bold;
    padding: 0;
  }
  /* img {
    width: 180px;
  } */
}

/* Hero Section */
header {
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./img/laundry/pxfuel.jpg) center/cover no-repeat;
  background-attachment: fixed;
}

.banner {
  min-height: 100vh;
  display: grid;
  place-items: center;
  text-align: center;
}

.container {
  padding: 1rem;
}
.container .e3 {
  position: relative;
  font-weight: 900;
  font-size: clamp(1.2rem, 5vw, 4rem);
}

.container .e3 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.2rem;
  padding-right: 0rem;
  /* padding-bottom: 0.2rem; */
  overflow: hidden;
}

.container .e3 .letter {
  display: inline-block;
  line-height: 1rem;
  color: var(--crl-bck5);

  font-family: "Great Vibes", cursive;
}

.container p {
  color: var(--clr-white);
  max-width: 29rem;
  margin: 0 auto;
  margin-bottom: 1.25rem;
  /* font-size: 2rem; */
  font-size: clamp(1rem, 3vw, 1.5rem);
}

@media screen and (min-width: 500px) {
  .container .e3 .text-wrapper {
    padding-top: 2rem;
  }
}
@media screen and (min-width: 820px) {
  .container p {
    max-width: 40rem;
  }
}

/* sections */

/* aside-section */
aside {
  background: #e6e6e6;
  text-align: center;
  padding: 2rem 1rem;
  border-radius: 20px;
  margin-bottom: 2rem;
}

aside h2 {
  padding-bottom: 3rem;
  color: var(--crl-bck5);
  font-family: "Great Vibes", cursive;
  /* font-size: clamp(1rem 7vw 1rem); */
  font-size: 2rem;
}
.aside-container {
  display: grid;
  place-items: center;
  text-align: center;
}

.aside-container img {
  margin: 0 auto;
}

.aside-container div {
  margin-bottom: 2rem;
}
.aside-container h3 {
  color: var(--crl-bck5);
  padding-top: 1rem;
  font-size: 1.3rem;
}
.aside-container p {
  font-size: clamp(2rem 6vw 3rem);
  padding-top: 3px;
  font-size: 1rem;

  /* width: 27rem; */
}

.container .order-btn,
.service .order-btn,
aside .order-btn {
  background-color: var(--crl-bck5);
  color: var(--clr-white);
  border-color: unset;
  border-radius: 20px;
}

.service .order-btn:hover {
  background: var(--clr-white);
  color: var(--crl-bck2);
}

/* service and price section */

@media screen and (min-width: 820px) {
  .section-container {
    display: flex;
    align-items: flex-start;
    gap: 5%;
  }
  .services-price {
    width: 70%;
  }
  aside {
    width: 25%;
  }
  aside h2 {
    font-size: 1.7rem;
  }
  .aside-container h3 {
    font-size: 1rem;
  }
  .aside-container p {
    font-size: 0.85rem;
  }
}
.section-container {
  margin-block: 2rem;
}
.service {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./img/laundry/pexels-los-muertos-crew-8030178.jpg) center/cover
      no-repeat;
  background-attachment: fixed;
  margin-bottom: 3rem;
  text-align: center;
  display: grid;
  place-content: center;
  transition: var(--transition);
  border-radius: 5px;
}

.service:hover {
  transform: scale(1.01);
}

.service div {
  padding: 4rem 2rem;
}
.service div h2 {
  color: var(--clr-white);
  padding-bottom: 1rem;
  font-size: clamp(1rem 5vw 1.5rem);
}
/* price section */
.price {
  display: grid;
  place-items: center;
  color: #333;
  gap: 2rem;
  /* margin-bottom: 3rem; */
  text-align: center;
  /* height: 400px; */
}
.price-container {
  padding: 2rem;
  background-color: #fff;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
.price-container .contacts {
  margin-block: unset;
}

.price {
  margin-bottom: 2rem;
}
.price-container.contacts {
  margin-block: 0;
}

.price-container h3 {
  color: var(--crl-bck5);
  padding-bottom: 1rem;
  font-size: 1.3rem;
}

.price-container p {
  font-size: 0.95rem;

  padding-bottom: 1rem;
  line-height: 1.5;
}

.price-container .order-btn {
  border-radius: 20px;
}
.price-container .order-btn:hover {
  background-color: var(--crl-bck5);
  color: var(--clr-white);
  border-color: var(--clr-white);
}
/*  */
.image img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 10px;
}

.section-choose {
  background-color: var(--crl-bck3);
  padding-block: 3rem;
}

.section-choose h2 {
  font-size: 2rem;
  padding-inline: 0.5rem;
  text-align: center;
  padding-bottom: 2rem;
  font-family: "Great Vibes", cursive;
  color: var(--crl-bck5);
}

.section-choose div {
  padding: 0 20px;
  margin: grid;
  place-items: center;
}

.section-choose .chooseUs {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.section-choose .chooseUs i {
  font-size: 2rem;
  /* font-size: clamp(1rem 7vw 2rem); */
  color: var(--crl-bck5);
}

.section-choose .choose h3 {
  font-size: 1.3rem;
}

.section-choose .choose p {
  font-size: 1rem;
  padding-top: 0.2rem;
}

@media screen and (min-width: 800px) {
  .price {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
  .section-choose .choose {
    margin: 0 10px;
  }
  .section-choose .choose p {
    font-size: clamp(1.2rem 5vw 1.5rem);
    /* font-size: 1.2rem; */
  }
}
/* fequently asked question */
.questions {
  padding-block: 3rem;
  background-color: var(--crl-bck3);
}
.questions-center {
  width: 90vw;
  margin: 0 auto;
  max-width: var(--fixed-width);
}
.title {
  margin-bottom: 4rem;
}
.title h2 {
  color: var(--crl-bck5);
  font-family: "Great Vibes", cursive;
  text-align: center;
}
.question {
  background: var(--clr-white);
  border-radius: var(--radius);
  box-shadow: var(--light-shadow);
  padding: 0.2rem 1.5rem;
  transition: var(--transition);
  margin-bottom: 10px;
  display: grid;
  align-items: center;
}
.question-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: capitalize;
  font-size: clamp(1rem 5vw 1.5rem);
}

.question-title p {
  margin-bottom: 0;
  /* letter-spacing: var(--spacing); */
  color: var(--clr-grey-1);
}
.question-btn {
  font-size: 1.5rem;
  /* font-size: clamp(1.5rem 6vw 2rem); */

  background: transparent;
  border-color: transparent;
  cursor: pointer;
  color: var(--crl-bck5);
  transition: var(--transition);
}
.question-btn:hover {
  transform: rotate(90deg);
}

.question-text {
  padding: 1rem 0 1.5rem 0;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}
.question-text p {
  margin-bottom: 0;
}
/* hide text */
.question-text {
  display: none;
}
.show-text .question-text {
  display: block;
}
.minus-icon {
  display: none;
}
.show-text .minus-icon {
  display: inline;
}
.show-text .plus-icon {
  display: none;
}

/* About Section */

.title {
  text-align: center;
  margin-bottom: 3rem;
  margin-top: 1.5rem;
}

.title h2 {
  font-size: 2rem;
}
.title p {
  width: 80%;
  margin: 0 auto;
  font-size: 1rem;
}
.about .tab-btn {
  font-size: 0.85rem;
}

.title .about-img {
  margin-bottom: 2rem;
}
.about-img picture {
  margin-bottom: 2rem;
}
.about-img img {
  border-radius: var(--radius);
  object-fit: cover;
  width: 100%;
  height: 20rem;
  /* margin-bottom: 1rem; */
}

@media screen and (min-width: 820px) {
  .about-img {
    margin-bottom: 0;
  }

  .about-center {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
  }
  .question-title p {
    letter-spacing: var(--spacing);
  }
}
.about {
  background: var(--clr-white);
  border-radius: var(--radius);
  display: grid;
  grid-template-rows: auto 1fr;
  margin-top: 1rem;
}
.btn-container {
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.tab-btn:nth-child(1) {
  border-top-left-radius: var(--radius);
}
.tab-btn:nth-child(3) {
  border-top-right-radius: var(--radius);
}
.tab-btn {
  padding: 1rem 0;
  border: none;
  text-transform: capitalize;
  font-size: clamp(1rem 5vw 1.5rem);
  /* font-size: 1rem; */
  display: block;
  background: var(--crl-bck);
  cursor: pointer;
  transition: var(--transition);
  letter-spacing: var(--spacing);
}
.tab-btn:hover:not(.active) {
  background: var(--crl-bck4);
  color: var(--clr-primary-5);
}
.about-content {
  border-bottom-left-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
  padding: 2rem 1.5rem;
}

.content {
  display: grid;
  place-items: center;
}

.about-content h4 {
  padding-bottom: 1rem;
}
/* hide content */
.content {
  display: none;
}
.tab-btn.active {
  background: var(--clr-white);
}
.active {
  display: block;
}

/* top - link */
.top-link {
  font-size: 1.25rem;
  position: fixed;
  bottom: 3rem;
  right: 1rem;
  color: var(--clr-white);
  background-color: var(--crl-bck5);
  width: 2rem;
  height: 2rem;
  display: grid;
  place-items: center;
  border-radius: var(--radius);
  visibility: hidden;
  z-index: -200;
  animation: bounce 2s ease-in-out infinite;
}
.show-link {
  visibility: visible;
  z-index: 100;
}
@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

/* footer */
footer {
  background-color: var(--crl-bck);
  padding-block: 3rem;
}

.footer-container {
  width: 90%;
  max-width: var(--max-width);
  margin: 0 auto;
}

.footer-intro {
  margin-top: 1.6rem;
}
.footer-intro p {
  padding-block: 10px;
  font-size: clamp(1rem 5vw 1.5rem);
  /* font-size: 1rem; */
}

.footer-intro a {
  color: var(--crl-bck5);
  /* color: var(--clr-white); */
  padding-right: 10px;
}

.contacts {
  margin-block: 2rem;
}

.footer-intro h4,
.footer-newslater h4,
.contacts h4 {
  font-size: 1.3rem;
  /* font-size: clamp(1rem 4vw 3rem); */

  padding-bottom: 20px;
  color: var(--crl-bck5);
  /* color: var(--clr-white); */
}
.contacts .contact-detail {
  display: flex;
  gap: 15px;
  margin-bottom: 10px;
}
.contacts .contact-detail p {
  /* font-size: 1rem; */
  font-size: clamp(0.8rem 5vw 1.5rem);
}

.contacts .contact-detail a {
  color: var(--crl-bck5);
  /* color: var(--clr-white); */
}

.contacts .num {
  font-size: 1rem;
  color: var(--crl-bck4);
}

.footer-newslater {
  margin-top: 2rem;
}

.footer-container label {
  display: block;
  /* font-size: 1rem; */
  font-size: clamp(1rem 5vw 1.5rem);

  padding-bottom: 10px;
}
.footer-container input {
  width: 70vw;
  /* width: 30rem; */
  padding: 01rem 0.5rem;
  font-size: 1rem;
  outline: none;
  border: none;
  border-radius: var(--radius);
}

.footer-container form {
  margin-bottom: 1.5rem;
}

.footer-newslater a {
  border-color: var(--clr-white);
  color: var(--clr-white);
}

.footer-newslater a:hover {
  border-color: var(--crl-bck5);
}
.copyright {
  background-color: var(--clr-white);
  padding: 2rem;
  text-align: center;
  /* font-size: 1rem; */
  font-size: clamp(1rem 5vw 1.5rem);

  /* letter-spacing: var(--spacing); */
}

.copyright .fst {
  padding-bottom: 5px;
}

@media screen and (min-width: 400px) {
  .footer-intro p {
    width: 70%;
  }
}

@media screen and (min-width: 992px) {
  footer .footer-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
  }

  .footer-container input {
    max-width: 400px;
  }

  .copyright {
    display: flex;
    justify-content: space-between;
    padding: 5px 5rem;
  }

  .copyright div {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .footer-intro p {
    width: unset;
  }
}

/* request modal style */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  /* background: red; */
  display: grid;
  place-items: center;
  transition: var(--transition);
  visibility: hidden;
  z-index: -10;
}

.open-modal {
  visibility: visible;
  z-index: 10;
}

.modal-container {
  width: 90vw;
  max-width: var(--fixed-width);
  background: var(--clr-white);
  border-radius: var(--radius);
  box-shadow: var(--dark-shadow);
  padding: 2rem 2.5rem;
  margin: 3rem auto;
  position: relative;
  /* max-height: calc(100vh - 210px); */
  max-height: 95%;
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  /* overflow-y: scroll; */
}

.modal-container h2 {
  color: var(--crl-bck5);
  padding-bottom: 1rem;
}
body::-webkit-scrollbar,
.modal-container::-webkit-scrollbar {
  display: none;
}

.close-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1.5rem;
  background: transparent;
  border-color: transparent;
  color: var(--crl-bck5);
  cursor: pointer;
  transition: var(--transition);
}

.close-btn:hover {
  color: var(--clr-red-light);
  transform: scale(1.3);
}

.form-label {
  display: block;
  font-size: var(--small-text);
  /* margin-bottom: 0.5rem; */
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  /* transform: translate(-200px); */
  display: none;
}
.form-input,
.form-textarea {
  width: 100%;
  padding: 1rem 0.75rem;
  border-radius: var(--radius);
  background: var(--backgroundColor);
  border: 1px solid var(--grey-200);
  cursor: pointer;
  font-size: 1rem;
  color: #333;
}

.form-row {
  margin-bottom: 1rem;
}

.form .btn-block {
  margin-top: 0.5rem;
}

textarea {
  resize: none;
  height: 200px;
}

.submit-btn {
  border-color: var(--crl-bck5);
  color: var(--crl-bck5);
}

.submit-btn:hover {
  background-color: var(--crl-bck5);
  border-color: var(--clr-white);
  color: var(--clr-white);
}
